body {
    background-image: url(https://images.herzindagi.info/image/2023/Feb/weekly-horoscope-2023.jpg);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 5em;
}
h1 {
    font-size: 2.5em;
  letter-spacing: 0.2em;
  border-bottom: 1px solid #9d0fb6;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}
.zodiacs {
    text-align: center; 
    line-height: 100px; 
    height: 100px;
    font-style:italic;
    font-size: x-large;
    text-shadow: 70px;
}
.prosConsContainer {
    text-align: center; 
    line-height: 100px; 
    height: 100px;
    font-style:normal
}
.proscons {
    text-align: center; 
    line-height: 100px; 
    height: 100px;
    font-style:normal
}